
@font-face {
    font-family: BMitra;
    src: url("../font/BMitra.ttf");
}

@font-face {
    font-family: IRANSans;
    src: url("../font/IRANSans.ttf");
}

body {
    font-family: IRANSans !important;
}

html,
body,
header,
#intro {
    height: 100%;
    direction: rtl;
}

#intro {
    background: url("../img/bg.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*#logo {
    position: absolute;
    background-color: #17a2b8;
    padding-top: 15%;
    margin-right: 4%;
}*/

@media (max-width: 768px) {
    #intro {
        direction: ltr;
    }

    .navbar {
        display: inline-block;
    }

    nav li, nav > div > a {
        margin-top: 10px;
        margin-left: 0;
    }

    nav > div > a {
        margin-top: 200px;
    }
}

@media (min-width: 768px) {
    nav ul {
        padding-right: 20rem;
    }

    nav .nav-item {
        margin-left: 0.5rem;
    }
}

