
@font-face {
    font-family: BMitra;
    src: url("../font/BMitra.ttf");
}

@font-face {
    font-family: IRANSans;
    src: url("../font/IRANSans.ttf");
}

body {
    font-family: IRANSans !important;
}

html,
body,
header,
#intro {
    height: 100%;
    direction: rtl;
}

#intro {
    background: url("../img/bg-blue.png") no-repeat center center fixed;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

.farsi-text {
    text-align: right;
}

#logo {
    width: 45%;
    margin-right:-1%;
}

@media (max-width: 768px) {
    #intro {
        direction: ltr;
    }

    nav li, nav > div > a {
        margin-top: 10px;
        margin-left: 0;
    }

    nav > div > a {
        margin-top: 200px;
    }
}

@media (min-width: 768px) {
    nav ul {
        padding-right: 15%;
    }

    nav .nav-item {
        margin-left: 0.5rem;
    }
}

