
@font-face {
    font-family: BMitra;
    src: url("../font/BMitra.ttf");
}

@font-face {
    font-family: IRANSans;
    src: url("../font/IRANSans.ttf");
}

body {
    font-family: IRANSans !important;
}

.dir-ltr {
    direction: ltr;
}

.dir-rtl {
    direction: rtl;
}

.farsi-text {
    text-align: right;
}

@media (min-width: 1200px) {
    aside {
        position: fixed !important;
        height: 100%;
    }
}

@media (max-width: 1200px) {
    aside {
        position: static;
    }
}

